@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  color: #333333;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.logo i {
  font-size: 28px;
  margin-right: 10px;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 20px;

}

.navbar a {
  color: #666666;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ff9900;
}


/*  version movil navbar  */







.header-icons {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.header-icons i {
  font-size: 24px;
  color: #333333;
  margin-right: 20px;
  cursor: pointer;
}

#menu-icon {
  font-size: 32px;
  color: #333333;
  cursor: pointer;
  display: none;
}
.navbar.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f7f7f7;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
}

.section {
  padding: 3rem;
  text-align: center;
}

.section h2 {
  margin-bottom: 1rem;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
/* En styles.css */

/* Estilos generales del slider */
.slider {
  position: relative; /* Agregar posición relativa al contenedor del slider */

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px; /* Altura total del carrusel en desktop */
}

/* Estilos para las imágenes del carrusel */
.carousel-image {
  width: 100%; /* Ajustar imagen al ancho de la pantalla */
  height: auto; /* Mantener proporción de la imagen */
  object-fit: cover; /* Ajustar imagen sin deformarla */
}

/* Media query para versión móvil */
@media (max-width: 768px) {
  .slider {
    height: auto; /* Altura automática en versión móvil */
  }

  .carousel-image {
    height: 100vh; /* Altura de la ventana del dispositivo */
  }
}




@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    background-color: #f7f7f7;
    width: 100%;
    position: absolute;
    top: 70px; /* Ajusta esto según el espacio que necesites */
    left: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
  }
  .navbar.open {
    top: 50px; /* Ajusta esto según el espacio que necesites */
   } 

   #menu-icon {
    display: block;
   }

  }






